<section class="container-fluid home intro">
	<div class="row">
		<div class="col-lg-6 lg-push-6 image" style="background-image: url({{ 'intro.jpg' | asset_url }});"></div>
		<div class="col-lg-6 lg-pull-6 content">
			<div class="box">
				<h2>Whiteboard anywhere.</h2>
				<p>Notebooks store ideas. Whiteboards evolve ideas. <br />Make your next idea stand out with a HustleCase.</p>
				
				<div class="button-group">
					<a href="#product" class="btn btn-primary">Shop Now</a>
					<a href="" class="btn btn-link" id="video-trigger">Watch Demo (14 secs) <i class="fa fa-angle-down"></i></a>
				</div>

				<div class="happy-customers">
					<p>Happy customers from companies like</p>
					<img src="{{ 'airbnb.svg' | asset_url }}" alt="Airbnb" />
					<img src="{{ 'ibm.svg' | asset_url }}" alt="IBM" />
					<img src="{{ 'deloitte.svg' | asset_url }}" alt="Deloitte" />
				</div>
			</div>
		</div>
	</div>
</section>
<section class="container-fluid home what alt" id="about">
	<div class="row">
		<div class="col-lg-6 image lg-push-6" style="background-image: url({{ 'what.jpg' | asset_url }});">
		</div>
		<div class="col-lg-6 placeholder"></div>
		<div class="col-lg-6 content lg-pull-6">
			<div class="box">
				<h2>A Hustle-what?</h2>
				<p>HustleCase is a lightweight whiteboard laptop case that makes it easy to:</p>

				<ul>
					<li>Sketch on the go</li>
					<li>Snap on and off easily</li>
					<li>Protect from scrapes and scratches</li>
					<li>Write smoothly and erase quickly</li>
					<li>Gift the special hustler in your life</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<section class="container-fluid home perfect">
	<div class="row">
		<div class="col-lg-6 image lg-push-6" style="background-image: url({{ 'perfect.jpg' | asset_url }});"></div>
		<div class="col-lg-6 content lg-pull-6">
			<div class="box">
				<h2>HustleCase is perfect for</h2>
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-4 col-6 icon-box">
								<img src="{{ 'Wireframing.svg' | asset_url }}" class="img-responsive">
								<h4>Wireframing</h4>
							</div>
							<div class="col-md-4 col-6 icon-box">
								<img src="{{ 'Sketching.svg' | asset_url }}" class="img-responsive">
								<h4>Sketching</h4>
							</div>
							<div class="col-md-4 col-6 icon-box">
								<img src="{{ 'Sitemapping.svg' | asset_url }}" class="img-responsive">
								<h4>Sitemapping</h4>
							</div>
							<div class="col-md-4 col-6 icon-box">
								<img src="{{ 'Todos.svg' | asset_url }}" class="img-responsive">
								<h4>To-dos</h4>
							</div>
							<div class="col-md-4 col-6 icon-box">
								<img src="{{ 'Notes.svg' | asset_url }}" class="img-responsive">
								<h4>Notes</h4>
							</div>
							<div class="col-md-4 col-6 icon-box">
								<img src="{{ 'Interviews.svg' | asset_url }}" class="img-responsive">
								<h4>Interviews</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="container-fluid home quote alt">
	<div class="row">
		<div class="col-lg-6 lg-push-6 image" style="background-image: url({{ 'quote1.jpg' | asset_url }});"></div>
		<div class="col-lg-6 placeholder"></div>
		<div class="col-lg-6 lg-pull-6 content">
			<div class="box">
				<h3>HustleCase makes new ideas better.</h3>

				<blockquote>&ldquo;I found it easy to capture my ideas and sketch visuals to share with my clients on the go&rdquo;</blockquote>

				<p><span>Aloke Pillai</span><br />UX Designer</p>
			</div>
		</div>
	</div>
</section>
<section class="container-fluid home quote">
	<div class="row">
		<div class="col-lg-6 image lg-push-6" style="background-image: url({{ 'quote2.jpg' | asset_url }});"></div>
		<div class="col-lg-6 content lg-pull-6">
			<div class="box">
				<h3>A sketch is worth 1000 conversations.</h3>

				<blockquote>&ldquo;I save a lot of time when explaining things, It's very hand to visually communicate with my students&rdquo;</blockquote>

				<p><span>Ann-Marie Sebastian</span><br />Lead Instructor, Sheridan College</p>
			</div>
		</div>
	</div>
</section>
<section class="container-fluid home buy alt" id="product">
	<div class="row">
		<div class="col-lg-6 lg-push-6 image">
			<div class="siema">
				<div class="slider-image" style="background-image: url({{ 'buy.jpg' | asset_url }});"></div>
				<!--<div class="slider-image" style="background-image: url({{ 'buy.jpg' | asset_url }});"></div>
				<div class="slider-image" style="background-image: url({{ 'buy.jpg' | asset_url }});"></div>-->
			</div>
			<!--<ul class="siema-controls">
				<li class="active"></li>
				<li></li>
				<li></li>
			</ul>-->
		</div>
		<div class="col-lg-6 placeholder"></div>
		<div class="col-lg-6 lg-pull-6 content">
			<div class="box narrow">
				<h1>$32.00<span>CAD</span></h1>
				<h5>Plus shipping & taxes</h5>

				<div class="form">
					<form action="/cart/add" method="post" enctype="multipart/form-data" class="" data-section="{{ section.id }}">
						{% for product in collections.all.products limit: 1 %}
							<div class="form-group">
								<label for="ProductSelect-{{ section.id }}">Laptop type:</label>
								<select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="form-control" style="background-image: url({{ 'Arrow-icon.svg' | asset_url }})">
	              					{% for variant in product.variants %}
	                					{% if variant.available %}
	                  						<option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
	                    						{{ variant.title }}
	                  						</option>
	                					{% else %}
	                  						<option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
	                					{% endif %}
	              					{% endfor %}
	            				</select>
	            			</div>
			            {% endfor %}
						<div class="form-group">
							<div>
								<div class="pull-left">
									<button type="submit" class="btn btn-primary">Preorder</button>
								</div>
								<div class="pull-right">
									<div class="secure"><i class="fa fa-lock"></i>Payments are processed via secure Shopify server</div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<input type="hidden" name="return_to" value="/checkout/" />
					</form>
				</div>
				<p>HustleCase is expected to ship in October.</p>
				<p>If you don't see your laptop here, <a href="mailto:hello@hustlecase.com">email us </a> with your laptop details.</p>
			</div>
		</div>
	</div>
</section>
<section class="container-fluid questions">
	<div class="container">
		<div class="row">
			<div class="col">
				<h2>Have questions?</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h4>Why did you create HustleCase?</h4>
				<p>As freelance designers, we found our office being wherever our laptop was. We wanted an accesible whiteboard to save time and paper and created the HustleCase!</p>
			</div>
			<div class="col-md-4">
				<h4>Is it only for Macs?</h4>
				<p>The hard shell cases are only for Macs at the moment. However, if you would still like a whiteboard on your laptop, we can make a custom whiteboard sticker for you. Email us!</p>
			</div>
			<div class="col-md-4">
				<h4>How durable is the case?</h4>
				<p>The cases are made of plastic, making it durable enough to protect your laptop from bumps and scratches, but light and breathable enough to release heat.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h4>Is it hard to erase?</h4>
				<p>Our dry-erase surface has been designed to be scratch resistant, easy to write on and even easier to wipe.</p>
			</div>
			<div class="col-md-4">
				<h4>Where do you ship to currently?</h4>
				<p>We ship worldwide! Due to high demands, each case will take 1-2 weeks to process and be shipped.</p>
			</div>
			<div class="col-md-4">
				<h4>How do I record my sketches?</h4>
				<p>When you want to capture a quick sketch, we recommend using an app called Microsoft Office Lens that has a whiteboard setting to capture photos.</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p class="email">Don't see your question here? <a href="mailto:hello@hustlecase.com">Email us</a></p>
			</div>
		</div>
	</div>
</section>
<section class="container-fluid cards">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="card">
					<div class="image" style="background-image: url({{ 'toronto.png' | asset_url }});"></div>
					<div class="body">
						<h3>Made in 🇨🇦</h3>
						<p>We are designers who like to travel and work. We build tools for remote professionals.</p>
						<!--<div class="button-container"><a href="#" class="btn btn-light">Read our story</a></div>-->
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="image" style="background-image: url({{ 'collab.png' | asset_url }});"></div>
					<div class="body">
						<h3>Follow our stories 📸</h3>
						<p>All of our special moments are caught on camera through Instagram.</p>
						<div class="button-container"><a href="https://www.instagram.com/hustlecase/" class="btn btn-light">Follow us</a></div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="image" style="background-image: url({{ 'google.png' | asset_url }});"></div>
					<div class="body">
						<h3>Custom HustleCases ✍️</h3>
						<p>Larger orders qualify for custom branding which make for creative gifts and brand marketing.</p>
						<div class="button-container"><a href="mailto:hello@hustlecase.com" class="btn btn-light">Email us</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="container-fluid footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3>Stay in the loop</h3>

				<p>Enter your email for featured stories and tools</p>
				
				{% form 'customer' %}
					<div class="form-inline">						
						<input type="hidden" name="contact[tags]" value="newsletter">
						<div class="form-group">
							<input type="email" placeholder="Email address" name="contact[email]" id="email" class="form-control" />
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary">Subscribe</button>
						</div>
						{{ form.errors | default_errors }}
						{% if form.posted_successfully? %}
							<p class="newsletter-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
						{% endif %}
					</div>
				{% endform %}
			</div>
			<div class="col-md-6 contact">
				<h3>Say 👋 at <a href="mailto:hello@hustlecase.com">hello@hustlecase.com</a></h3>
				<a href="https://www.instagram.com/hustlecase/" class="social-link"><i class="fa fa-instagram"></i></a>
				<a href="https://facebook.com/hustlecase" class="social-link"><i class="fa fa-facebook-official"></i></a>
				<a href="https://twitter.com/hustlecase" class="social-link"><i class="fa fa-twitter"></i></a>
			</div>
		</div>
	</div>
</section>